@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  padding: 0px;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 12px;
    border: 3px solid #ffffff;
  }

html{
    scroll-behavior: smooth;
    background: #151a33;
  }
  
  main{
    background: #151a33;
  }
  .table{
    background: #060b1b;
    color: #7081b9;
  }
  .btn-close-sidebar {
    border: 0;
    border-radius: 0.25rem;
    /* opacity: .5; */
    background: #fff;
    padding: 4px;
}
.btn-close-sidebar:hover {
  opacity: .5;
}

  .background-dark{
    background-color: #060b1b;
  }
  .sidebar{
    position: absolute;
    width: 330px;
    top: 0px;
  }
  .App-logo{
    width: 50%;
  }
  .bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
  }
 
  .offcanvas-end-left{
    top: 0;
    left: 0;
    width: 330px;
    border-left: 1px solid rgba(0,0,0,.2);
    transform: translateX(-100%);
  }

  .navbar{
    background-color: #060b1b;
  
  }
  .navbar-brand {
    color:#7081b9;
    
  }
  .nav-link{
    color:#7081b9;
    font-weight:bold;
  }
  .nav-link:hover{
    color:#cdd2e0;
    
  }
  .one-Surah{
      height: 76vh;
      overflow-y: auto;
      scroll-behavior: smooth;
      background: #060b1b;
      /* margin-top: 8rem; */
  }
  .ayahs-card{
    background: #060b1b;
    color: #4b5f91;
  }
  .card-body-bg{
    background: #151a33;
    color: #4b5f91;
  }
  .surah{
    padding: 16px 11px;
    /* background: #f9fbfa; */
    transition: 0.3s;
    background-color: #060b1b;
    color: #e9eaf0;
  }

  .surah:hover{
    background-color: #060b1b;
    color: #e9eaf0;
    box-shadow: 5px 3px 7px 2px #759575;
    margin-bottom: 9px;
  }

 
  .Quran-ayah{
    font-family: 'Amiri', serif;
    font-weight:600;
}
.Quran-surha{
    /*color: #e7adff;*/
 font-family: 'Amiri', serif;
    font-weight:600;
}
.surhaEnglishName{
    font-weight: 500;
    font-style: italic;
}
                                                                                   
audio{
max-width : 500px;
width: 100%;
outline: none;
}
/*#mainAudioPlayer{
    display: none;
    
}*/
a{
    text-decoration: none;
}



.controls button{
    background: none;
    border: none;
    color: white;
    padding: 10px;
    outline: none;
    cursor: pointer;
    transition:   3s ease-in;
}
.controls button:hover svg{
    fill: aliceblue;
    
}
.currentAndtotal{
    margin: 0rem 0.3rem;
}
.w-actions__fab {
    align-items: center;
    background-color: #198754;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: Segoe UI,system-ui,-apple-system,sans-serif;
    font-size: .875em;
    font-weight: 600;
    height: 56px;
    letter-spacing: 1px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    text-overflow: initial;
    text-transform: uppercase;
    width: 56px;
}
.w-actions__fab--subscribe:hover {
    background-color: #90cfb2;;
    color:rgb(94, 125, 212);;
}
.w-actions>* {
    margin-top: 20px;
}

/*.w-actions__fab--subscribe::before {
    background-image: url(../images/arrow-left-circle.svg);
}*/
.w-actions__fab::before {
    background-size: 24px 24px;
    content: "";
    height: 24px;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 24px;
}
.w-actions__fab::after {
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color .2s,border .2s;
    z-index: 1;
}
@media (min-width: 1264px){
.w-actions__fab {
    border-radius: 28px;
    padding: 0 24px 0 52px;
    text-indent: 0;
    width: auto;
}}

.w-actions {
    align-items: flex-end;
    bottom: 115px;
    display: none;
    flex-direction: column;
    position: fixed;
    right: 24px;
    z-index: 100;
}
.SurhaContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-top: 21px;
    direction: rtl;
    box-shadow: 6px 4px 4px 6px #0100028f;
}
.btn-hover-light {
  text-align: left;
  background-color: var(--bs-white);
  border-radius: .25rem;
}
.btn-hover-light:hover,
.btn-hover-light:focus {
  color: var(--bs-blue);
  background-color: var(--bs-light);
}

.cal-month,
.cal-days,
.cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.cal-month-name {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
}
.cal-weekday{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;
  color:#48974e;
}
.cal-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;
  color:#7081b9;
}

.cal-btn:not([disabled]) {
  font-weight: 500;
}
.cal-btn:hover,
.cal-btn:focus {
  background-color: rgb(112 129 185 / 2%);
  color: #48974e;
}
.cal-btn[disabled] {
  opacity: .5;
}

.form-control-dark {
  background-color: rgba(255, 255, 255, .05);
  border-color: rgba(255, 255, 255, .15);
}
.spinner-center{
  position: absolute;
  right: 50%;
  left: 50%;
  top: 50%;
  bottom: 50%;
}

.audio-player{
  color: rgb(0, 0, 0);
  background-color:#198754;
  display: flex;
  width: 100%;
  height: 3.5rem;
  bottom: 0;
  left: 0;
  padding: 0% 5%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-image: linear-gradient(
  90deg, rgb(131, 58, 180) 0%, rgb(201 97 97) 50%, rgb(252, 176, 69) 100%);
}
.duration{
  display: flex;
}
.fill-duration{
  position: absolute;
  top: -5px;
  left: 0px;
  will-change: width;
  transition: width 0.1s ease-in;
  background-color: rgb(37 41 49); 
   height: 5px;
}
.controls button{
  background: none;
  border: none;
  color: white;
  padding: 10px;
  outline: none;
  cursor: pointer;
  transition:   3s ease-in;
}
.controls button:hover svg{
  fill: aliceblue;
  
}
.currentAndtotal{
  margin: 0rem 0.3rem;
}